version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: crm_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: almas
      POSTGRES_PASSWORD: almas
      POSTGRES_DB: crm_db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
